<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062964562973-47uej5ilqq0cn5l1pfukv7c4k2ji32k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062964562973-47uej5ilqq0cn5l1pfukv7c4k2ji32k7</string>
	<key>API_KEY</key>
	<string>AIzaSyCOj-yO-b2oCiTlDjKw_Nqiy4_Z4WsHVYU</string>
	<key>GCM_SENDER_ID</key>
	<string>1062964562973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentatouille</string>
	<key>PROJECT_ID</key>
	<string>rentatouille-a10b6</string>
	<key>STORAGE_BUCKET</key>
	<string>rentatouille-a10b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062964562973:ios:066347f823eb1095578af4</string>
</dict>
</plist>